.box1{
    width: 99px;
    height: 100px;
    border: 1px solid white;
    position: absolute;
    top: 1400;
    left: 1;
}

.box2{
    width: 99px;
    height: 100px;
    border: 1px solid white;
    position: absolute;
    top: 1400;
    left: 101;
}
  
.box3{
    width: 99px;
    height: 100px;
    border: 1px solid white;
    position: absolute;
    top: 1400;
    left: 201;
}
  
.box4{
    width: 99px;
    height: 100px;
    border: 1px solid white;
    position: absolute;
    top: 1400;
    left: 301;
}
  
.box5{
    width: 99px;
    height: 100px;
    border: 1px solid white;
    position: absolute;
    top: 1400;
    left: 401;
}
  
.box6{
    width: 99px;
    height: 100px;
    border: 1px solid white;
    position: absolute;
    top: 1400;
    left: 501;
}
  
.box7{
    width: 99px;
    height: 100px;
    border: 1px solid white;
    position: absolute;
    top: 1400;
    left: 601;
}
  
.box8{
    width: 99px;
    height: 100px;
    border: 1px solid white;
    position: absolute;
    top: 1400;
    left: 701;
}
  
.box9{
    width: 99px;
    height: 100px;
    border: 1px solid white;
    position: absolute;
    top: 1400;
    left: 801;
}
  
.box10{
    width: 75px;
    height: 100px;
    border: 1px solid white;
    position: absolute;
    top: 1400;
    left: 901;
}
  
.box11{
    width: 970px;
    height: 0.5px;
    border: 0.5px solid red;
    position: absolute;
    top: 1450;
    left: 1;
}

.b1{
    position: absolute;
    top: 1292;
    left: 13;
    font-size: 105;
    color: red;
}

.b2{
    position: absolute;
    top: 1292;
    left: 124;
    font-size: 105;
    color: red;
}

.b3{
    position: absolute;
    top: 1292;
    left: 223;
    font-size: 105;
    color: red;
}

.b4{
    position: absolute;
    top: 1292;
    left: 322;
    font-size: 105;
    color: red;
}

.b5{
    position: absolute;
    top: 1292;
    left: 421;
    font-size: 105;
    color: red;
}

.b6{
    position: absolute;
    top: 1292;
    left: 520;
    font-size: 105;
    color: red;
}

.b7{
    position: absolute;
    top: 1292;
    left: 619;
    font-size: 105;
    color: red;
}

.b8{
    position: absolute;
    top: 1292;
    left: 718;
    font-size: 105;
    color: red;
}

.b9{
    position: absolute;
    top: 1292;
    left: 817;
    font-size: 105;
    color: red;
}

.b10{
    position: absolute;
    top: 1292;
    left: 916;
    font-size: 105;
    color: red;
}

#in1{
    position: absolute;
    top: 600;
    font-size: 50;
    color: white;
}

#in2{
   position: absolute;
   top: 762;
   font-size: 50;
   color: white;
}

#in3{
   position: absolute;
   top: 816;
   font-size: 50;
   color: white;
}

#in4{
   position: absolute;
   top: 870;
   font-size: 50;
   color: white;
}

#in5{
   position: absolute;
   top: 924;
   font-size: 50;
   color: white;
}

#in6{
   position: absolute;
   top: 978;
   font-size: 50;
   color: white;
}

#in7{
   position: absolute;
   top: 1032;
   font-size: 50;
   color: white;
}

#in8{
   position: absolute;
   top: 1086;
   font-size: 50;
   color: white;
}

#in9{
   position: absolute;
   top: 1140;
   font-size: 50;
   color: white;
}
