<html>

    <head>

      <link rel = "stylesheet" type = "text/css" href = "{{ url_for('static' , filename = 'home.css') }}" />
      <link href="http://fonts.cdnfonts.com/css/seven-segment" rel="stylesheet" />

    </head>

    <body bgcolor="black">
       
        <img id="stream" src="/stream" /></br>

        <img id="numplate"  width="400" height="100" />

        <div class="box1"></div>
        <div class="box2"></div>
        <div class="box3"></div>
        <div class="box4"></div>
        <div class="box5"></div>
        <div class="box6"></div>
        <div class="box7"></div>
        <div class="box8"></div>
        <div class="box9"></div>
        <div class="box10"></div>
        <div class="box11"></div>

	<p style="font-family: Courier;" id="in1"></p>
        <p style="font-family: Courier;" id="in2"></p>
	<p style="font-family: Courier;" id="in3"></p>
	<p style="font-family: Courier;" id="in4"></p>
        <p style="font-family: Courier;" id="in5"></p>
	<p style="font-family: Courier;" id="in6"></p>
        <p style="font-family: Courier;" id="in7"></p>
        <p style="font-family: Courier;" id="in8"></p>
        <p style="font-family: Courier;" id="in9"></p>

        <p style="font-family: 'Seven Segment', sans-serif;" class="b1" id="b1"></p>
        <p style="font-family: 'Seven Segment', sans-serif;" class="b2" id="b2"></p>
        <p style="font-family: 'Seven Segment', sans-serif;" class="b3" id="b3"></p>
        <p style="font-family: 'Seven Segment', sans-serif;" class="b4" id="b4"></p>
        <p style="font-family: 'Seven Segment', sans-serif;" class="b5" id="b5"></p>
        <p style="font-family: 'Seven Segment', sans-serif;" class="b6" id="b6"></p>
        <p style="font-family: 'Seven Segment', sans-serif;" class="b7" id="b7"></p>
        <p style="font-family: 'Seven Segment', sans-serif;" class="b8" id="b8"></p>
        <p style="font-family: 'Seven Segment', sans-serif;" class="b9" id="b9"></p>
        <p style="font-family: 'Seven Segment', sans-serif;" class="b10" id="b10"></p>

    </body>

    <script src="{{ url_for('static' , filename='home.js') }}"></script>

</html>
